<div>
  <h1>Formulario para añadir productos</h1>

  <form>
    <label for="tittle">Nombre:</label><br />
    <input id="title" name="title" required /><br />
    <label for="category">Categoría:</label><br />
    <input id="category" name="category" required /><br />
    <label for="price">Precio:</label><br />
    <input id="price" type="number" name="price" required /><br />
    <label for="code">Código:</label><br />
    <input id="code" name="code" required /><br />
    <label for="stock">Stock:</label><br />
    <input id="stock" type="number" name="stock" required />
  </form>

  <button id="send">Enviar</button>

  <h1>Historial de productos</h1>

  <table>
    <thead>
      <tr>
        <td>Nombre</td>
        <td>Categoría</td>
        <td>Precio</td>
        <td>Código</td>
        <td>Stock</td>
      </tr>
    </thead>

    <tbody id="history">
    </tbody>

  </table>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
